<footer>
    <div class="row text-white">
        <a class="text-white d-flex" [routerLink]="['/watchlist']"><p>WishList</p><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
        <a class="text-white d-flex" [routerLink]="['/myreviews']"><p>Reviews</p><i class="fa-solid fa-arrow-up-right-from-square"></i></a>
    </div>
    <div class="row d-flex text-white">
        <a href="#" class="text-white"><b>A website by Andreas Lindell <i class="fa-solid fa-link"></i></b></a>
    </div>
    <div class="row d-flex text-white">
        <p>Absolutly no <i class="fa-solid fa-copyright"></i> By MMDB.com</p> 
    </div>
</footer>
