<app-nav> </app-nav>

<div id="main">
    <div class="container"> 
        <div class="row">
            <h1 style="margin-top: 5rem;">
                My Reviews:
            </h1>
        </div>
        
        <div class="row" style="margin-top: 5rem;">
            <h2>
                <b>Movies</b>
            </h2>
        </div>
        <div class="row">
            <div class="col"*ngFor="let r of myReviews">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{r.movieTitle}}</h5>
                        <p class="card-text">{{r.content}}</p>
                    </div>
                <div class="card-footer d-flex">
                    <a [routerLink]="['/details', r.movieId]" class="btn btn-warning">See details!</a>
                    <div class="card-text">Reviewed: {{r.updated_at}}</div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>



<app-footer></app-footer>